.burger-card {
  border-radius: 5px;
  border: 2px solid grey;
  height: 250px;
  padding: 5px;
  margin: 10px;
  align-items: center;
}

.burger-card:hover{
  background-color: #cceffc;
}

.burger-card h5 {
  text-align: center;
}

.delete-button {
  color: #2db04f;
  font-size: 27px;
  cursor: pointer;
}

.delete-button:hover {
  color: red;
}

.edit-button {
  margin-right: 72px;
  color: #2db04f;
  font-size: 27px;
  cursor: pointer;
}

.edit-button:hover {
  color: red;
}

.burger-image-container{
  border: 2px solid grey;
  height: 130px;
}

.burger-display {
  height: 475px;
  border: 2px solid grey;
}

.burger-display img {
  width: 60%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 50px;
}

.ingredient-image {
  position: absolute;
  display: block;
  width: 30%;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
}

#ingredients-list div{
  display: inline;
}

#ingredient-1 button {
  display: block;
}

#ingredient-9 button{
  display: block;

}

#burger-form {
  width:50%;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 0px;
  margin-bottom: 30px;
}

#burger-name-input {
  margin-right: 40px;
  border-radius: 4;
}

#burger-creator-input {
  margin-right: 40px;
}

/* ingredients buttons */
.btn-outline-primary {
  border-radius: 5px;
  width: 140px;
  height: 40px;
  margin: 50px;
}


/* Ingredient placement when being rendered to BIG DIV*/
img.ingr-placement-0 {
  margin-bottom: 0px;
}

img.ingr-placement-1 {
  margin-bottom: 25px;
}

img.ingr-placement-2 {
  margin-bottom: 50px;
}

img.ingr-placement-3 {
  margin-bottom: 75px;
}

img.ingr-placement-4 {
  margin-bottom: 100px;
}

img.ingr-placement-5 {
  margin-bottom: 125px;
}

img.ingr-placement-6 {
  margin-bottom: 150px;
}

img.ingr-placement-7 {
  margin-bottom: 175px;
}

img.ingr-placement-8 {
  margin-bottom: 200px;
}

img.ingr-placement-9 {
  margin-bottom: 225px;
}


/* #position-card-image img {
  width: 60%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 50px;
} */
